body {
    margin: 0;
    background-color: #1e1e1e;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
    margin: 0;
    padding: 0;
}


 span {
    display: block;
}

.content-section {
    width: 360px;
    box-sizing: border-box;
    min-height: 100px;
    margin: auto;
}

.content-section_theme_bright {
    background-color: #FEE42A;
    color: #131313;
    font-size: 16px;
}

.content-section_theme_dark {
    background-color: #343434;
    color: #F5F5F5;
    font-size: 16px;
}




.header {
    padding: 24px 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.header__logo {
    width: 78px;
    display: block;
}

.header__logo-image {
    width: 100%;
}

.header__menu-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style: none;
}

.header__menu-link {
    color: #fff;
    font-size: 16px;
    line-height: 1.2;
}
/* первая ссылка "главная" */
.header__menu-item_active .header__menu-link {
    text-decoration: none;
}

/*
.header__menu-item {
    margin-bottom: 12px;
}

.header__menu-link {
    text-decoration: underline;
    color: #F5F5F5;
}

.header__menu-link:hover {
    text-decoration: none;
}*/




.cover {
    min-height: 258px;
    padding: 7px 24px 32px 20px;
    background-image: url(/images/cover.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 95% auto;
}

/*
.cover {
    background-image: url(/images/cover.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100%;
    margin-left: 20px;
}*/

.cover__title {
    font-family: 'EB Garamond', serif;
    font-size: 72px;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    width: 100%;
}

.accent-span {
    display: block;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: end;
}



.intro {
    padding: 30px 20px 37px;
    font-family: "Inter", serif;
    
}

.intro__heading {
    display: flex;
    justify-content: space-between;
    color: #CCCCCC;
    gap: 22px;
}

.intro__title {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    
}

.intro__date {
    font-size: 16px;
    line-height: 1.2;
    white-space: nowrap;
    font-weight: 400;
}

.intro__main-text {
    font-size: 16px;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: #F5F5F5;
    font-size: 16px;
    line-height: 1.35;
    margin-top: 24px;
}




.reasons {
    padding: 40px 20px;
}

.content-section__subtitle {
    margin-bottom: 32px;
    font-family: 'EB Garamond' ,serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 1.15;
}

.content-section__introduction {
    margin: 0 0 32px;
    font-size: 20px;
    line-height: 1.35;
}

.content-section__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 0 0 16px;
    font-size: 16px;
    line-height: 1.35;
}

.content-section__list-accent {
    font-weight: 700;
}




.how-to {
    /*margin: 40px 20px 32px;
    padding-bottom: 32px;*/
    color: #F5F5F5;
}

.content-section__subtitle {
    margin-top: 40px;
    font-size: 28px;
}

.card {
    border-radius: 30px;
    padding: 20px;
}

.cards-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.card_theme_bright {
    color: #131313;
    background-color: #FEE42A;
}

.card_theme_dark {
    color: #F5F5F5;
    background-color: #343434;
}

.card__author-photo {
    display: block;
    width: 100px;
    border-radius: 50%;
}

.card__author-name {
    margin: 8px 0 0;
    font-weight: 700;
    font-size: 16px;
}

.card__title {
    margin: 8px auto;
    font-family: 'EB Garamond',serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.35;
}

.footer {

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #FEE42A;
    padding: 20px;
    margin: 60px 0 0 0;
    
}

.footer__copy {
    color: #F5F5F5;
    font-size: 16px;

}

.footer__links {
    display: flex;
    gap: 16px;
    list-style: none;
}

.footer__links a {
    color: #F5F5F5;
    font-size: 14px;
    line-height: 1.25;
    text-decoration: none;
}